.scenarioItem {
  width: 100%;

  background: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--color-bg-border);
}

.container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 16px;
  grid-template-areas:
    'left right-top'
    'left right-bottom';
}

.imageItem {
  grid-area: left;
  width: fit-content;
  max-width: 200px;
}

.titleItem {
  grid-area: right-top;
}

.descriptionItem {
  grid-area: right-bottom;
}
