.section {
  padding: 12px;
}

.descriptionSection {
  margin-top: 16px;
}

.descriptionSection {
  display: flex;
  column-gap: 24px;
}

.descriptionIconSection {
  display: flex;
  column-gap: 36px;
  margin-top: 12px;
}

.descriptionIconContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
