.container {
  background: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--color-bg-border);
  margin-top: 16px;
}

.badges {
  display: flex;
  gap: 8px;
}

.previewContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.previewStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.statItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 16px;
  grid-template-areas:
    'left right-top'
    'left right-bottom';

  background: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--color-bg-border);
}

.iconItem {
  grid-area: left;
}

.statTitle {
  grid-area: right-top;
}

.statValue {
  grid-area: right-bottom;
}

.nextButton {
  margin-top: 16px;
}
